{% extends "userapp/userlayout.html" %}
{% block content %}

<br><br><br><br>
<body style="background-image:url(../static/userapp/images/3.jpg);background-repeat:no-repeat;background-size: cover">

    <center>
    
    <form role="form" method="POST" action="{% url 'sum' %}" >{% csrf_token %}
    
      <div>
        <br>
        <br>
        <br>
      </div>
    <div>
      <textarea style="background-color: gainsboro" name="text1" rows="20"  cols="100" placeholder="Enter the article for summarization...." required></textarea>
    </div>
    
    <br>
    
    <div>
      <button class="btn"><b>SUMMARIZE</b></button>
    </div>
    
    </form>
    
    </center>
    
    
    </body>
                        

{% endblock %}