<html lang="en"><head>
    <title> Article Summarization</title>
        
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="keywords" content="Intrend Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
        <script type="application/x-javascript">
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);
    
            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <!--// Meta tag Keywords -->
        
        <link href="../static/publicapp/css/slider.css" type="text/css" rel="stylesheet" media="all"> 
        
        <!-- css files -->
        <link rel="stylesheet" href="../static/publicapp/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
        <link rel="stylesheet" href="../static/publicapp/css/style.css" type="text/css" media="all"> <!-- Style-CSS --> 
        <link rel="stylesheet" href="../static/publicapp/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
        <!-- //css files -->
        
        <!-- testimonials css -->
        <link rel="stylesheet" href="../static/publicapp/css/flexslider.css" type="text/css" media="screen" property=""><!-- flexslider css -->
        <!-- //testimonials css -->
    
        <!-- web-fonts -->
        <link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
        <!-- //web-fonts -->
        
    </head>
    
    
<body>

<!-- banner -->
    <div class="banner" id="home"> 
        <div class="cd-radial-slider-wrapper"> 
           
<!--Header-->
<header>
    <div class="container agile-banner_nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <h1><a class="navbar-brand" href="{% url 'home' %}">In <span class="display"> Sum</span></a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'service' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>                       
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
          
        </nav>
    </div>
</header>
    <!--Header-->
    <li class="visible"> 
        <div class="svg-wrapper">
            <svg viewBox="0 0 1400 800">
                <title>Animated SVG</title>
                <defs>
                    <clipPath id="cd-image-1">
                        <circle id="cd-circle-1" cx="110" cy="400" r="1364"></circle>
                    </clipPath>
                </defs> 
            </svg>
        </div> <!-- .svg-wrapper --> 
        <div class="cd-radial-slider-content">
            <div class="wrapper">
                <div class="text-center">
                    <h5 style="font-size: 250%;color:rgb(14, 6, 6)"><b>  Text Summarization has always been an area of active interest in the academia. In recent times,
                        even though several techniques have being developed for automatic text summarization,
                         efficiency is still a concern. 'InSum' is a perfect solution for automatic text summarization </b></h5>
                </div>
            </div>
        </div> <!-- .cd-radial-slider-content -->
    </li>    
                <ul class="cd-radial-slider" data-radius1="60" data-radius2="1364" data-centerx1="110" data-centerx2="1290">
                    <li class="next-slide"> 
                        <div class="svg-wrapper">
                            <svg viewBox="0 0 1400 800">
                                <image height="100%" width="100%" clip-path="url(#cd-image-1)" xlink:href="../static/publicapp/images/2.jpg"></image>
                            <desc>Created with Snap</desc></svg>
                        </div> <!-- .svg-wrapper --> 
                               
                    </li> 
                    <li class="visible">
                        <div class="svg-wrapper">
                            <svg viewBox="0 0 1400 800">
                                <title>Animated SVG</title>
                                <defs>
                                    <clipPath id="cd-image-4">
                                        <circle id="cd-circle-4" cx="1290" cy="400" r="1364"></circle>
                                    </clipPath>
                                </defs> 
                            <desc>Created with Snap</desc></svg>
                        </div> <!-- .svg-wrapper --> 
                        <div class="cd-radial-slider-content text-center">
                            <div class="wrapper">
                            </div>
                        </div> <!-- .cd-radial-slider-content -->
                    </li> 
                </ul> <!-- .cd-radial-slider --> 
    <!-- //banner --> 
    
    <!-- footer -->
    <footer class="py-5">
        <div class="container py-md-5">
            <div class="footer-logo mb-5 text-center">
                <a class="navbar-brand" href="{% url 'home' %}">In <span class="display"> Sum</span></a>
            </div>
            <div class="footer-grid">
                <div class="agileits_w3layouts-copyright mt-4 text-center">
                    <p>Let's Summarize Your Text Articles Here...</p>
            </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
    
    <!-- js-scripts -->		
    
        <!-- js -->
        <script type="text/javascript" src="../static/publicapp/js/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="../static/publicapp/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
        <!-- //js -->
        
        <!-- banner js -->
        <script src="../static/publicapp/js/snap.svg-min.js"></script>
        <script src="../static/publicapp/js/main.js"></script> <!-- Resource jQuery -->  
        <!-- //banner js --> 
    
        <!-- flexSlider --><!-- for testimonials -->
        <script defer="" src="../static/publicapp/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function(){
              $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                  $('body').removeClass('loading');
                }
              });
            });
        </script>
        <!-- //flexSlider --><!-- for testimonials -->
    
        <!-- start-smoth-scrolling -->
        <script src="../static/publicapp/js/SmoothScroll.min.js"></script>
        <script type="text/javascript" src="../static/publicapp/js/move-top.js"></script>
        <script type="text/javascript" src="../static/publicapp/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){		
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function() {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear' 
                    };
                */
                                    
                $().UItoTop({ easingType: 'easeOutQuart' });
                                    
                });
        </script>
        <!-- //here ends scrolling icon -->
        <!-- start-smoth-scrolling -->
        
    <!-- //js-scripts -->
    
    
    <a href="#" id="toTop" style="display: none;"><span id="toTopHover"></span>To Top</a></body></html>