<html lang="en"><head>
    <title>Article Summarization</title>
        
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="keywords" content="Intrend Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
        <script type="application/x-javascript">
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);
    
            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <!--// Meta tag Keywords -->
        
        <link href="../static/publicapp/css/slider.css" type="text/css" rel="stylesheet" media="all"> 
        
        <!-- css files -->
        <link rel="stylesheet" href="../static/publicapp/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
        <link rel="stylesheet" href="../static/publicapp/css/style.css" type="text/css" media="all"> <!-- Style-CSS --> 
        <link rel="stylesheet" href="../static/publicapp/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
        <!-- //css files -->
        
        <!-- testimonials css -->
        <link rel="stylesheet" href="../static/publicapp/css/flexslider.css" type="text/css" media="screen" property=""><!-- flexslider css -->
        <!-- //testimonials css -->
    
        <!-- web-fonts -->
        <link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
        <!-- //web-fonts -->
        
    </head>
    
    <body>
    
    <!-- banner -->
        <div class="banner" id="home"> 
            <div class="cd-radial-slider-wrapper"> 
               
    <!--Header-->
    <header>
        <div class="container agile-banner_nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                
                <h1><a class="navbar-brand" href="{% url 'home' %}">In <span class="display"> Sum</span></a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'service' %}">Services</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>                       
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
              
            </nav>
        </div>
    </header>
    <!--Header-->
        
    <!-- //banner --> 
    
    {% block content %}
    {% endblock %}
    
    <!-- footer -->
    <footer class="py-5">
        <div class="container py-md-5">
            <div class="footer-logo mb-5 text-center">
                <a class="navbar-brand" href="{% url 'home' %}">In <span class="display"> Sum</span></a>
            </div>
            <div class="footer-grid">
                <div class="agileits_w3layouts-copyright mt-4 text-center">
                    <p>Let's Summarize Your Text Articles Here...</p>
            </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
    
    <!-- js-scripts -->		
    
        <!-- js -->
        <script type="text/javascript" src="../static/publicapp/js/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="../static/publicapp/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
        <!-- //js -->
        
        <!-- banner js -->
        <script src="../static/publicapp/js/snap.svg-min.js"></script>
        <script src="../static/publicapp/js/main.js"></script> <!-- Resource jQuery -->  
        <!-- //banner js --> 
    
        <!-- flexSlider --><!-- for testimonials -->
        <script defer="" src="../static/publicapp/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function(){
              $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                  $('body').removeClass('loading');
                }
              });
            });
        </script>
        <!-- //flexSlider --><!-- for testimonials -->
    
        <!-- start-smoth-scrolling -->
        <script src="../static/publicapp/js/SmoothScroll.min.js"></script>
        <script type="text/javascript" src="../static/publicapp/js/move-top.js"></script>
        <script type="text/javascript" src="../static/publicapp/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){		
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function() {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear' 
                    };
                */
                                    
                $().UItoTop({ easingType: 'easeOutQuart' });
                                    
                });
        </script>
        <!-- //here ends scrolling icon -->
        <!-- start-smoth-scrolling -->
        
    <!-- //js-scripts -->
    
    
    <a href="#" id="toTop" style="display: none;"><span id="toTopHover"></span>To Top</a></body></html>