
<html><head>    
        <title>Article Summarization</title>
        <!-- meta_tags-->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="keywords" content="Library Membership form A Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements">
            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Meta_tag_Keywords-->
        <!--css_files-->
            <link rel="stylesheet" href="../static/userapp/css/jquery-ui.css">
            <link href="../static/userapp/css/style.css" rel="stylesheet" type="text/css" media="all"><!--stylesheet-->
            <link rel="stylesheet" href="../static/userapp/css/font-awesome.css"><!--font_wesome_icons-->
            <link href="//fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet"><!--online_fonts-->
            <link href="//fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet"><!--online_fonts-->
        <!--//css_files-->
        </head>
        <br><br><br><br>
        <body>
        <div class="w3l-head">
        <h1>Register Now</h1>
        </div>
        <div class="w3ls-form">
        <form action="{% url 'register' %}" method="POST">{% csrf_token %}
                <div class="w3l-last-grid1">
                    <div class="w3l-grid1">
                        <label class="text">First name</label>
                        <div class="w3l-div">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" name="r1" placeholder="first name" required="">
                        </div>
                    </div> 
                    <div class="w3l-grid2">
                    <label class="text">Last name</label>
                    <div class="w3l-div">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" name="r2" placeholder="last name" required="">
                    </div>
                    </div>
                    <div class="clear"></div>
                </div>	
                <div class="w3l-last-grid1">
                    <div class="w3l-grid1">
                        <label class="text">gender</label>
                        <div class="w3l-div">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <select class="form-control" name="r3" required="">
                                <option>gender</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                    </div>	
                    <div class="w3l-grid2">
                        <label class="text">date of birth</label>
                        <div class="w3l-div">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <input type="text" class="date hasDatepicker" id="datepicker" name="r4" placeholder="dob" value="MM/DD/YYYY" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'MM/DD/YYYY';}" required="">
                        </div>	
                    </div>	
                    <div class="clear"></div>
                </div>
                <div class="w3l-last-grid1">
                    <div class="w3l-grid1">
                        <label class="text">Your Email</label>
                        <div class="w3l-div">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <input type="email" name="r5" placeholder="e-mail" required="">
                        </div>
                    </div>
                    <div class="w3l-grid2">
                        <label class="text">Designation</label>
                        <div class="w3l-div">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                            <input type="text" name="r6" placeholder="designation" required="">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="w3ls-submit">
                    <input type="submit" value="Submit">
                </div>
                <br><br>
        </form>
        <a href="{% url 'home' %}" style="color: white;position: fixed;left: 47.5%">Back to home</a>
        <br>
        </div>
        
        <!-- Default-JavaScript --> <script type="text/javascript" src="../static/userapp/js/jquery-2.1.4.min.js"></script>
        
        <!-- Calendar -->
        <script src="../static/userapp/js/jquery-ui.js"></script>
            <script>
                $(function() {
                $( "#datepicker,#datepicker1" ).datepicker();
                });
            </script>
        <!-- //Calendar -->
        
        <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div></body></html>

        
